PORT=3000
DB_SERVER=localhost
DB_DATABASE=SistemaActivosFISEI
DB_USER=
DB_PASSWORD=
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
MS_CLIENT_ID=
MS_AUTHORITY=https://login.microsoftonline.com/consumers
MS_TOKEN_ISSUER=https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0
VITE_MS_CLIENT_ID=
VITE_MS_AUTHORITY=https://login.microsoftonline.com/consumers

# Si usas Windows Authentication con LocalDB o SQLEXPRESS, deja DB_USER y DB_PASSWORD vacios.
# Ejemplos:
# DB_SERVER=(localdb)\MSSQLLocalDB
# DB_SERVER=localhost
# DB_SERVER=.\SQLEXPRESS
